<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/scripts/oauth.js"></script>
    <title>Title</title>
</head>
<body>
<button onclick="myFunction()">Click me</button>
    <script>
        function myFunction() {
            OAuth.setOAuthdURL('https://oauth.local');
            OAuth.initialize('uEHxIGEAYjjanMik9TFionlSN8w');
            OAuth.popup('apple')
                .done(function(result) {
                    console.log(result);
                })
                .fail(function (err) {
                    console.log(err);
                });
        }
    </script>
</body>
</html>